{% extends "base.html" %}

{% block content %}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6 wow fadeInUp" data-wow-delay="0.1s">About Us</h1>
    <ol class="breadcrumb justify-content-center mb-0 wow fadeInUp" data-wow-delay="0.3s">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active text-white"> About Us </li>
    </ol>
</div>
<!-- Single Page Header End -->

<!-- Shop Page Start -->
<div class="container-fluid shop py-5">
    <div class="container py-5">
        <div class="row g-12">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                <center>
                    <h1>Omapy - England's No. 1 Shopping Destination</h1>
                    <h4> Shop for Everything You Need on Omapy</h4>
                </center><br>
                <div>

                    Different people encounter problems every day on how to navigate getting items at the comfort of
                    their home and different locations, they may be at the best discount prices.
                    There are also those who wants to sell out products which they no longer have need for but are in
                    the best condition for far less prices than the new ones. Also, those who sell new products at great
                    bargains.
                    <br> <br>
                    Omapy aims to solve the above problem by being an easy to go platform that brings both vendors and customers together, where customers can
                    conveniently shop from and can also be sellers or vendors of products also. 
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Shop Page End -->

<div class="container-fluid contact py-5">
    <center>
          <h1> Meet the Team</h1>
          </center>
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                <div class="col-12">

                </div>
                <div class="col-lg-7">
                    <h3 class="display-5 mb-4 wow fadeInUp" data-wow-delay="0.3s">Alexander U. Ejiogu</h3>
                    <p class="mb-4 wow fadeInUp" data-wow-delay="0.5s">Alexander U. Ejiogu studied
                        Electrical/Electronics Engineering at University of East London, currently pursuing a
                        Master’s Degree in Computing (Data Management) at Sheffield Hallam University. Alexander has
                        a strong interest in software development, Data Management, Cybersecurity, and data-driven
                        systems. He has hands-on experience building web applications using Python, Flask, HTML,
                        CSS, Bootstrap, and SQLite, with a focus on creating practical, user-friendly solutions.
                        As a co-creator of OMAPY, Alexander played a key role in backend development, database
                        design, and system integration, ensuring the platform meets functional and technical
                        requirements. He is passionate about applying technology to solve real-world problems,
                        particularly in areas that improve accessibility, affordability, and user experience for
                        students and everyday users.
                </div>

                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="h-100 rounded">
                        <img src="{{ url_for('static', filename='img/pic1.jpeg') }}" class="img-fluid w-100 rounded-top"
                            alt="">
                    </div>


                </div>
            </div>
        </div>
    </div>
   

</div>

<div class="container-fluid contact py-5">

    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                <div class="col-12">

                </div>
                <div class="col-lg-7">
                   <h3 class="display-5 mb-4 wow fadeInUp" data-wow-delay="0.3s">Michael Chukwuemeka Odo</h3>
                            <p class="mb-4 wow fadeInUp" data-wow-delay="0.5s">Michael Odo is a Master’s student in
                                Computing at Sheffield Hallam University, currently based in Nottingham, United Kingdom.
                                He is a Full Stack Developer with a strong focus on building scalable, secure, and
                                user-centred web applications.
                                Michael has professional experience working across both backend and frontend systems,
                                with core expertise in PHP, Laravel, Python, and Flask. He is proficient in designing
                                and consuming RESTful APIs, implementing authentication systems, and developing
                                data-driven applications. His database experience includes working with MySQL and
                                SQLite, where he designs efficient schemas, writes optimized queries, and ensures data
                                integrity.
                                He has hands-on experience developing e-commerce platforms, marketplace systems, and API
                                integrations, particularly within PHP, Laravel, WordPress and WooCommerce environments,
                                as well as custom Flask-based web applications. His work often involves integrating
                                third-party services, automating workflows, and improving system performance.
                                Michael combines strong technical skills with problem-solving and analytical thinking,
                                enabling him to translate real-world business requirements into reliable software
                                solutions. He is passionate about continuous learning, modern web technologies, and
                                applying academic knowledge to real-world engineering challenges.
                            </p>
                </div>

                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="h-100 rounded">
                        <img src="{{ url_for('static', filename='img/pic2.jpeg') }}" class="img-fluid w-100 rounded-top"
                            alt="">
                    </div>


                </div>
            </div>
        </div>
    </div>
   
    
</div>


<div class="container-fluid contact py-5">

    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                <div class="col-12">

                </div>
                <div class="col-lg-7">
                    <h3 class="display-5 mb-4 wow fadeInUp" data-wow-delay="0.3s">Oluchi Ibigweh</h3>
                                <p class="mb-4 wow fadeInUp" data-wow-delay="0.5s">Ibigweh Oluchi is a dedicated and
                                    intellectually curious person with a strong academic interest in data analysis. She
                                    is currently a Masters in Computing student at the Sheffield Hallam University,
                                    United Kingdom.
                                    Back in Nigeria, she used to work at a multinational company as a Quality Assurance/
                                    Control Officer. Working with data in a quality-focused environment strengthened an
                                    analytical approach to handling inputs, managing databases, and ensuring consistency
                                    and reliability within the development of the application.
                                    My previous experience also highlighted the importance of computational tools in
                                    managing data efficiently thereby motivating her to further develop her technical
                                    skills through postgraduate study.
                                    She is committed to continuous academic growth and aims to continuously apply her
                                    computing knowledge to develop responsible, data-driven, and impactful technological
                                    solutions.
                                </p>
                </div>

                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="h-100 rounded">
                        <img src="{{ url_for('static', filename='img/pic3.jpeg') }}" class="img-fluid w-100 rounded-top"
                            alt="">
                    </div>


                </div>
            </div>
        </div>
    </div>
   
    
</div>


{% endblock %}