{% extends "base.html" %}

{% block content %}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6 wow fadeInUp" data-wow-delay="0.1s">Create Product</h1>
    <ol class="breadcrumb justify-content-center mb-0 wow fadeInUp" data-wow-delay="0.3s">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active text-white">Create Product</li>
    </ol>
</div>
<!-- Single Page Header End -->




<!-- Create Product Page -->
<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">

                <div class="col-lg-7">
                    <h5 class="text-primary wow fadeInUp" data-wow-delay="0.1s">Let’s Work</h5>
                    <h1 class="display-5 mb-4 wow fadeInUp" data-wow-delay="0.3s">Add Products</h1>
                    <p class="mb-4 wow fadeInUp" data-wow-delay="0.5s">You can add new products in this page by
                        filling the form and click on the create button.</p>

                    <!-- Flash Messages: This will display any error/success/status messages to the user -->
                    {% for category, message in get_flashed_messages(with_categories=True) %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                    <form method="post" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                        <div class="row g-4 wow fadeInUp" data-wow-delay="0.1s">

                            <div class="col-lg-12 col-xl-6">
                                <div class="form-floating">
                                    <input name="product_name" type="text" class="form-control" id="name"
                                        placeholder="Product Name" value="{{ request.form.get('product_name', '') }}">
                                    <label for="name">Product Name</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="form-floating">
                                    <input name="product_price" type="number" class="form-control" id="email"
                                        placeholder="Product Price" value="{{ request.form.get('product_price', '') }}">
                                    <label for="email">Product Price</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="form-floating">

                                    <select name="product_category" class="form-select" id="category">
                                        <option value="">Select Category</option>

                                        <option value="Electronics" {% if
                                            request.form.get('product_category')=='Electronics' %}selected{% endif %}>
                                            Electronics
                                        </option>

                                        <option value="Stationery" {% if
                                            request.form.get('product_category')=='Stationery' %}selected{% endif %}>
                                            Stationery
                                        </option>

                                        <option value="Fashion" {% if request.form.get('product_category')=='Fashion'
                                            %}selected{% endif %}>
                                            Fashion
                                        </option>

                                        <option value="Laptops" {% if request.form.get('product_category')=='Laptops'
                                            %}selected{% endif %}>
                                            Laptops
                                        </option>

                                        <option value="Smartphones" {% if
                                            request.form.get('product_category')=='Smartphones' %}selected{% endif %}>
                                            Smartphones
                                        </option>

                                        <option value="Clothings" {% if
                                            request.form.get('product_category')=='Clothings' %}selected{% endif %}>
                                            Clothings
                                        </option>

                                        <option value="Sports" {% if request.form.get('product_category')=='Sports'
                                            %}selected{% endif %}>
                                            Sports
                                        </option>

                                        <option value="Entertainment" {% if
                                            request.form.get('product_category')=='Entertainment' %}selected{% endif %}>
                                            Entertainment
                                        </option>

                                        <option value="Accessories" {% if
                                            request.form.get('product_category')=='Accessories' %}selected{% endif %}>
                                            Accessories
                                        </option>

                                        <option value="Gadgets" {% if request.form.get('product_category')=='Gadgets'
                                            %}selected{% endif %}>
                                            Gadgets
                                        </option>

                                        <option value="Furniture" {% if
                                            request.form.get('product_category')=='Furniture' %}selected{% endif %}>
                                            Furniture
                                        </option>

                                        <option value="Other" {% if request.form.get('product_category')=='Other'
                                            %}selected{% endif %}>
                                            Other
                                        </option>
                                    </select>

                                    <label for="phone">Product Category</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="form-floating">
                                    <input name="product_brand" type="text" class="form-control" id="project"
                                        placeholder="Product Brand" value="{{ request.form.get('product_brand', '') }}">
                                    <label for="project">Product Brand</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input name="product_image" type="file" accept="image/*" class="form-select"
                                        id="subject" placeholder="Product Profile Image"
                                        value="{{ request.form.get('product_image', '') }}">
                                    <label for="subject">Product Profile Image</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-4">
                                <div class="form-floating">
                                    <input name="product_gallery1" type="file" accept="image/*" class="form-select"
                                        id="phone" placeholder="Product Gallery 1"
                                        value="{{ request.form.get('product_gallery1', '') }}">
                                    <label for="phone">Product Gallery 1</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-4">
                                <div class="form-floating">
                                    <input type="file" name="product_gallery2" accept="image/*" class="form-select"
                                        id="project" placeholder="Product Gallery 2"
                                        value="{{ request.form.get('product_gallery2', '') }}">
                                    <label for="project">Product Gallery 2</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-4">
                                <div class="form-floating">
                                    <input name="product_gallery3" type="file" accept="image/*" class="form-select"
                                        id="project" placeholder="Product Gallery 3"
                                        value="{{ request.form.get('product_gallery3', '') }}">
                                    <label for="project">Product Gallery 3</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input name="product_description" class="form-control"
                                        placeholder="Leave a message here" id="message" maxlength="300" style="height: 60px"
                                        laceholder="Product Description"
                                        value="{{ request.form.get('product_description', '') }}">
                                    <label for="message">Product Short Description (Maximum 300 Characters)</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary w-100 py-3">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="h-100 rounded">

                        <img src="{{ url_for('static', filename='img/college.jpg') }}" alt="" class="rounded w-100"
                            style="height: 100%;">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Create Project End -->


{% endblock %}