<!-- This tag indicates that this file extends the base template -->
{% extends "base.html" %}

<!-- This block named ‘content’ allows us to define html that can be inserted into the base template block with the same name -->
{% block content %}
<!-- Carousel Start -->
<div class="container-fluid carousel bg-light px-0">
    <div class="row g-0 justify-content-end">
        <div class="col-12 col-lg-7 col-xl-9">
            <div class="header-carousel owl-carousel bg-light py-5">
                <div class="row g-0 header-carousel-item align-items-center">
                    <div class="col-xl-6 carousel-img wow fadeInLeft" data-wow-delay="0.1s">
                        <img src="{{ url_for('static', filename='img/carousel-1.png') }}" class="img-fluid w-100"
                            alt="Image">
                    </div>
                    <div class="col-xl-6 carousel-content p-4">
                        
                        <h1 class="display-3 text-capitalize mb-4 wow fadeInRight" data-wow-delay="0.3s">Get Expensive Clothes at Affordable Prices</h1>
                        <p class="text-dark wow fadeInRight" data-wow-delay="0.5s">Terms and Condition Apply</p>
                        <a class="btn btn-primary rounded-pill py-3 px-5 wow fadeInRight" data-wow-delay="0.7s"
                            href="/shop">Shop Now</a>
                    </div>
                </div>
                <div class="row g-0 header-carousel-item align-items-center">
                    <div class="col-xl-6 carousel-img wow fadeInLeft" data-wow-delay="0.1s">
                        <img src="{{ url_for('static', filename='img/carousel-2.png')}}" class="img-fluid w-100"
                            alt="Image">
                    </div>
                    <div class="col-xl-6 carousel-content p-4">
                        <h4 class="text-uppercase fw-bold mb-4 wow fadeInRight" data-wow-delay="0.1s"
                            style="letter-spacing: 3px;">Save Up To A £100</h4>
                        <h1 class="display-3 text-capitalize mb-4 wow fadeInRight" data-wow-delay="0.3s">On Selected
                            Laptops & Desktop Or Smartphone</h1>
                        <p class="text-dark wow fadeInRight" data-wow-delay="0.5s">Terms and Condition Apply</p>
                        
                    </div>
                </div>
                 <div class="row g-0 header-carousel-item align-items-center">
                    <div class="col-xl-6 carousel-img wow fadeInLeft" data-wow-delay="0.1s">
                        <img src="{{ url_for('static', filename='img/carousel-3.png')}}" class="img-fluid w-100"
                            alt="Image">
                    </div>
                    <div class="col-xl-6 carousel-content p-4">
                        <h4 class="text-uppercase fw-bold mb-4 wow fadeInRight" data-wow-delay="0.1s"
                            style="letter-spacing: 3px;">Make cool cash</h4>
                        <h1 class="display-3 text-capitalize mb-4 wow fadeInRight" data-wow-delay="0.3s">Sell your New or used items at good rate</h1>
                        <p class="text-dark wow fadeInRight" data-wow-delay="0.5s">Terms and Condition Apply</p>
                        <a class="btn btn-primary rounded-pill py-3 px-5 wow fadeInRight" data-wow-delay="0.7s"
                            href="/shop">Get Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5 col-xl-3 wow fadeInRight" data-wow-delay="0.1s">
            <div class="carousel-header-banner h-100">
                <img src="{{ url_for('static', filename='img/header-img.jpg')}}" class="img-fluid w-100 h-100"
                    style="object-fit: cover;" alt="Image">
                <div class="carousel-banner-offer">
                    <p class="bg-primary text-white rounded fs-5 py-2 px-4 mb-0 me-3">Save Money</p>
                    <p class="text-primary fs-5 fw-bold mb-0">Student Friendly Platform</p>
                </div>
                <div class="carousel-banner">
                    <div class="carousel-banner-content text-center p-4">
                        <a href="#" class="d-block mb-2">Within your Budget</a>
                        <a href="#" class="d-block text-white fs-3">Buy and sell any item</a>
                        <del class="me-2 text-white fs-5">£100.00</del>
                        <span class="text-primary fs-5">£40</span>
                    </div>
                    <a href="/shop" class="btn btn-primary rounded-pill py-2 px-4"><i class="fas fa-shopping-cart me-2"></i>
                        Order  Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->




<!-- Flash Messages: This will display any error/success/status messages to the user -->
{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}

<!-- Our Products Start -->
<div class="container-fluid product py-5">
    <div class="container py-5">
        <div class="tab-class">
            <div class="row g-4">
                <div class="col-lg-4 text-start wow fadeInLeft" data-wow-delay="0.1s">
                    <h1>Our Products</h1>
                </div>
                <div class="col-lg-8 text-end wow fadeInRight" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex text-center mb-5">
                        <li class="nav-item mb-4">
                            <a class="d-flex mx-2 py-2 bg-light rounded-pill active" href="/shop">
                                <span class="text-dark" style="width: 130px;">All Products</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        {% for product in products %}
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="product-item rounded wow fadeInUp" data-wow-delay="0.1s">
                                <div class="product-item-inner border rounded">
                                    <div class="product-item-inner-item">
                                        <img src="{{ product['product_image'] }}" class="img-fluid w-100 rounded-top"
                                            alt="product image">
                                        
                                        <div class="product-new">{{product['product_brand']}}</div>
                                       
                                        <div class="product-details">
                                            <a href="{{ url_for('product', id=product['id']) }}"><i
                                                    class="fa fa-eye fa-1x"></i></a>
                                        </div>
                                    </div>
                                    <div class="text-center rounded-bottom p-4">
                                        <a href="{{ url_for('product', id=product['id']) }}"
                                            class="d-block mb-2">{{product['product_category']}}</a>
                                        <a href="{{ url_for('product', id=product['id']) }}"
                                            class="d-block h4">{{product['product_name']}}</a>

                                        <span class="text-primary fs-5"> {{ product['product_price'] | gbp }}</span>
                                    </div>
                                </div>
                                <div class="product-item-add border border-top-0 rounded-bottom text-center p-4 pt-0">
                                    <br>
                                    <small class="d-block h6">Created by {{ product['user'] | get_username }} </small>
                                    <a href="{{ url_for('vendor_profile', user_id=product.user) }}" class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4"><i
                                            class="fas fa-shopping-cart me-2"></i> Message Vendor</a>

                                </div>
                            </div>
                        </div>
                        {% else %}
                        <p class="text-muted">No products available.</p>

                        {% endfor %}
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- Our Products End -->



{% endblock %}